
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
}


body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Main content styles */
.container {
    text-align: center;
    padding: 20px;
}

.destination, .activities {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.destination h2, .activities h2, .about-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.destination p, .activities p{
    font-size: 16px;
    margin-bottom: 20px;
}
.about-us{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    nav ul li {
        margin-right: 10px;
    }

    .destination, .activities {
        padding: 10px;
    }
}
